*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Noto Sans SC', Arial, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3d3f4c;
    color: white;
    text-align: center;
    padding: 2rem;
}
.introduction{
    background-color: #3d3f4c;
    color: white;
    text-align: center;
    padding: 2rem;
}
.introduction h1{
    margin: 0;
}
.introduction p{
    margin: 0;
    text-align: left;
    padding: 2rem;
}
main {
    display: grid;
    color: #333;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
}

.category {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.category h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Noto Sans SC', 'Roboto', Arial, sans-serif;
    font-weight: 700;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.category p {
    max-width: 60ch;
    white-space: pre-line;
}

/* Link styles */
a {
    color: #1c90ff;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #0056b3;
    text-decoration: underline;
}

@media (max-width: 550px) {
    main {
        grid-template-columns: 1fr;
    }
}
